@import "tailwindcss";

@theme {
  --color-custom-yellow: #f6e79e;
  --color-custom-green: #f7fcee;
  --color-custom-gray: #F9FAFB;
  
  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-manrope: var(--font-manrope), 'Manrope', sans-serif;
  --font-family-jetbrains: 'JetBrains Mono', monospace;
}

.border{
    border: 1px solid #e0e0e0;
}

* {
  font-family: var(--font-family-manrope);
}

body {
  font-family: var(--font-family-manrope);
}
